body{
    max-width:100vh;
    height:100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}
.calculatrice{
    background-color: gray;
    border:black 2px;
    display:flex;
    flex-direction: column;

}

.écran{
    height:100px;
    background-color: aliceblue;
    margin-bottom:10px;
    border-radius:5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding:10px;
    font-size:27px;
  
}

.touches{
    display: grid;
    grid-template-columns:repeat(4,55px);
grid-template-rows:repeat(5,55px);
grid-gap: 7px;
}
